@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
body {
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #fbfcfd;
}

a {
    color: #222;
}

a:hover {
    color: #222;
    text-decoration: none;
}

.main-logo {
    width: 200px;
}

button.search {
    border-radius: 25px;
    color: #656565;
}

button.search:hover {
    background-color: #1c4a7b;
    border-color: #1c4a7b;
}

.header .nav-link {
    font-size: 15px;
    font-weight: 600;
    color: rgb(17, 16, 16) !important;
}

.navbar {
    border: none;
    -webkit-box-shadow: 0 0px 5px rgb(0 0 0 / 14%);
    box-shadow: 0 0px 5px rgb(0 0 0 / 14%);
}

::-webkit-scrollbar {
    background: rgb(238, 238, 238);
    width: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #494949;
}

.ad-box {
    background-color: rgb(201, 201, 201);
    height: 193px;
    width: 100%;
    display: block;
}

.news-box {
    width: 100%;
    display: block;
    cursor: pointer;
}

.news-box img {
    width: 100%;
}

.news-box h1 {
    font-weight: 700;
    font-size: 25px;
    color: #222;
}

.news-box p {
    font-size: 15px;
    font-weight: 500;
    color: #222;
}

.news-box small {
    font-size: 12px;
    color: rgb(146, 146, 146);
}

.news-bar {
    min-height: 80px;
    width: 100%;
    display: block;
    cursor: pointer;
}

.news-bar img {
    width: 100%;
}

.news-bar h1 {
    font-weight: 700;
    font-size: 16px;
    color: #222;
}

.news-bar small {
    font-size: 12px;
    color: rgb(146, 146, 146);
}

.h-10 {
    background-color: blanchedalmond;
    height: 200px;
}

.h-20 {
    background-color: blanchedalmond;
    height: 400px;
}

.cat-title {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.cat-title i {
    color: red;
    font-size: 17px;
}

.section-video {
    background-color: rgb(36, 36, 36);
}

.section-video .cat-title {
    color: rgb(250, 250, 250);
}

.section-video .video {
    background-color: black;
    height: 200px;
    display: block;
}

.section-video .videoone {
    background-color: black;
    height: 400px;
    display: block;
}

.nav-tabs .nav-link {
    font-weight: 700;
}

@media only screen and (min-width: 968px) {
    .line-top {
        border-top: 1px solid #e6e6e7;
    }
    .line-bottom {
        border-bottom: 1px solid #e6e6e7;
    }
    .line-left {
        border-left: 1px solid #e6e6e7;
    }
    .line-right {
        border-right: 1px solid #e6e6e7;
    }
    .big h1 {
        font-size: 20px;
    }
}

@media (min-width: 1920px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1280px;
    }
}

@media (max-width: 1280px) {
    .main-logo {
        width: 150px;
    }
}

@media (max-width: 800px) {
    .news-box {
        background: #fff;
        padding: 10px;
        -webkit-box-shadow: 0 0px 5px rgb(0 0 0 / 14%);
        box-shadow: 0 0px 5px rgb(0 0 0 / 14%);
    }
    .news-bar {
        background: #fff;
        padding: 10px;
        -webkit-box-shadow: 0 0px 5px rgb(0 0 0 / 14%);
        box-shadow: 0 0px 5px rgb(0 0 0 / 14%);
    }
}

.footer-big {
    padding: 105px 0 65px 0
}

.footer-big .footer-widget {
    margin-bottom: 40px
}

.footer--light {
    background: #02011f
}

.footer-big .footer-menu ul li a,
.footer-big p,
.footer-big ul li {
    color: #ccc
}

.footer-menu {
    padding-left: 48px
}

.footer-menu ul li a {
    font-size: 17px;
    font-weight: 700;
    line-height: 32px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-decoration: none;
    list-style: none;
    color: rgb(99, 99, 99);
}

.footer-menu ul li {
    list-style: none;
}

.footer-menu ul li a:hover {
    color: #437ac2
}

.footer-menu--1 {
    width: 100%
}

.footer-widget-title {
    line-height: 42px;
    margin-bottom: 10px;
    font-size: 18px
}

.mini-footer {
    background: #040335;
    text-align: center;
    padding: 32px 0
}

.mini-footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999
}

.mini-footer p a {
    color: #0d7fdf
}

.mini-footer p a:hover {
    color: #34bfa3
}

.widget-about img {
    display: block;
    margin-bottom: 30px
}

.widget-about p {
    font-weight: 700;
    font-size: 15px;
}

.widget-about .contact-details {
    margin: 30px 0 0 0;
    padding: 0%;
}

.widget-about .contact-details li {
    margin-bottom: 10px
}

.widget-about .contact-details li:last-child {
    margin-bottom: 0
}

.widget-about .contact-details li span {
    padding-right: 12px
}

.widget-about .contact-details li a {
    color: #2b2b2b;
    font-weight: 700;
    font-size: 14px;
}

.widget-about .contact-details li {
    list-style: none;
}

@media (max-width:991px) {
    .footer-menu {
        padding-left: 0
    }
}

.hyper-link {
    background: #1c4a7b;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    color: #fbfcfd;
    margin-bottom: 15px;
    font-weight: 700;
}

.hyper-link:hover {
    background: #587ba0;
    color: #fbfcfd;
}

.copyright {
    font-size: 15px;
    font-weight: 600;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    background: #1c4a7b;
    border-radius: 0px;
}

.nav-tabs .nav-item {
    text-align: center;
    width: 50%;
}

.category .news-box {
    background-color: #f7f7f7;
    padding: 10px;
}